html{
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

body{
    margin: 0;
    padding: 0;
}

#overlay{
    background: black;
    width: 100vw;
    height: 100vh;
    color: white;
    z-index: 1000;

    .row{
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
    }
}

#three-js-container{
    z-index: -1;
    display: none;

    canvas{
        width: 100vw;
        height: 100vh;
        z-index: 1;
    }
    
    .btn-position{
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 2;
    }
}


.popup-window{
    background: black;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    opacity: 1;
    transition: opacity 1s ease;
    display: none;
    #btn-close{
        position: fixed;
        top: 10px;
        right: 10px;
    }
}

.hide{
    opacity: 0;
    transition: opacity 1s ease;
}